@import "Global.scss";

.btn{
    border: none;
    border-radius: 0.5em;
    min-width: 7em;
    min-height: 1.5em;
    font-family: $cormorant;
    cursor: pointer;
    &:active {
        transform: scale(0.95);
    }
}

.btn-dark{
    background-color: $black;
    color: $gray;
    &:active {
        background-color: black;
    }
}

.btn-dark-secondary{
    background-color: #585858;
    color: black;
    &:active {
        background-color: #363636;
    }
}