@import "Global.scss";

.btn{
    border: none;
    border-radius: 0.5em;
    min-width: 7em;
    min-height: 1.5em;
    font-family: $cormorant;
    cursor: pointer;
    &:active {
        transform: scale(0.95);
    }
}

.btn-dark{
    background-color: $dark;
    color: $gray;
    &:active {
        background-color: $hoverdark;
    }
}

.btn-dark-secondary{
    background-color: $darkgray;
    color: $hoverdark;
    &:active {
        background-color: $hoverdarkgray;
    }
}