@import "Global.scss";
@import "Grid.scss";

body{
    margin: 0;
    padding: 0;
    background-color: $dark; 
}

#root{
    width: 100%;
}

.vertical-align-middle{
    height: inherit;
    display: table;
    * {
        display: table-cell;
        vertical-align: middle;
    }
}