@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');

$annie: 'Annie Use Your Telescope';

$black: #1D1F23;
$orange: #FF6600;
$white: white;
$gray: gray;

$hoverForBlack: #333;