@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

//Fonts
$cormorant: 'Indie Flower';
$annie: 'Annie Use Your Telescope';

//Colors
$dark: #1D1F23;
$orange: #FF6600;
$white: white;
$gray: gray;
$darkgray: #585858;
$hoverdarkgray: #363636;
$hoverdark: #15171a;
$brightfontcolor: #a5a5a5;

//Sizes
$tabletsize: 800px;
$phonesize: 650px;