@import "Global.scss";

$headerHeight: 4em;

.header{
    background-color: $orange;
    height: $headerHeight;
    display: table;
    &:last-child {
        height: $headerHeight;
    }
}

.header-title{
    margin-bottom: 0;
    margin-top: 0;
    font-family: $annie;
    color: $dark;
}