@import "Global.scss";

.header{
    background-color: $orange;
    height: 4em;
    display: table;
}

.header-title{
    margin-top: 1%;
    margin-bottom: 0;
    font-family: $annie;
    color: $black;
}